.card {
  width: 766px;
  height: 557px;
  border-radius: 20px;
  background-color: #616161;
  padding: 50px 30px;
  color: white;
}

.body{
  display: flex;
  align-items: center;
  justify-content: center;
}